<h1>New Game</h1>

<ul>
  <% @letters.each do |letter| %>
    <li><%= letter %></li>
  <% end %>
</ul>

<form action="/score" method="post">
  <h3>What is the longest word you can find?</h3>
  <input type="text" name="word" placeholder="Enter your word" class="placeholder">
  <input type="submit" value="Play" class="submit-button">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

</form>